---
import { publications } from '../data/cv';
---

<ol class="mt-8 list-decimal space-y-8 pl-5 marker:font-serif marker:text-lg marker:text-primary">
  {
    publications.map((item) => (
      <li class="pl-2">
        <p
          class="text-pretty text-lg leading-relaxed text-ink/95 [&_em]:font-serif [&_em]:italic [&_em]:text-primary"
          set:html={item.citationHtml}
        />
      </li>
    ))
  }
</ol>
