---
import { publications } from '../data/cv';
---

<div class="mt-6 space-y-6">
  {
    publications.map((item) => (
      <div class="border-l-2 border-primary/25 pl-5">
        <p
          class="text-pretty text-lg leading-relaxed text-ink/95 [&_em]:font-serif [&_em]:italic [&_em]:text-primary"
          set:html={item.citationHtml}
        />
        {item.doiUrl ? (
          <p class="mt-2 break-all text-base">
            <a
              href={item.doiUrl}
              target="_blank"
              rel="noopener noreferrer"
              class="font-medium text-primary no-underline hover:underline"
            >
              {item.doiUrl}
            </a>
          </p>
        ) : null}
      </div>
    ))
  }
</div>
